<a href="https://colab.research.google.com/github/unique-subedi/gene-expression/blob/main/Xinhe_gene_expression_master.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
import datetime
import time
import math
import numpy as np
from numpy import linalg as LA
import pandas as pd
import urllib.request
from itertools import combinations
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
!pip install pyreadr
import pyreadr
urllib.request.urlretrieve("https://raw.githubusercontent.com/unique-subedi/gene-expression/main/data/brain.rda", "brain.rda")
brain = pyreadr.read_r("brain.rda")

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyreadr
  Downloading pyreadr-0.4.7-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (363 kB)
     |████████████████████████████████| 363 kB 4.8 MB/s
Requirement already satisfied: pandas>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from pyreadr) (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.0->pyreadr) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.0->pyreadr) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.0->pyreadr) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.2.0->pyreadr) (1.15.0)
Installing collected packages: pyreadr
Successfully installed pyreadr-0.4.7

In [3]:
expression = pd.DataFrame(brain["expression"])
genes = pd.DataFrame(brain["genes"])
samples = pd.DataFrame(brain["samples"])

In [5]:
expression.head()

,1000_at,1001_at,1002_f_at,1003_s_at,1004_at,1005_at,1006_at,1007_s_at,1008_f_at,1009_at,...,AFFX-ThrX-5_at,AFFX-ThrX-M_at,AFFX-TrpnX-3_at,AFFX-TrpnX-5_at,AFFX-TrpnX-M_at,AFFX-YEL002c/WBP1_at,AFFX-YEL018w/_at,AFFX-YEL021w/URA3_at,AFFX-YEL024w/RIP1_at,AFFX-hum_alu_at
01_a_D_f_2.CEL,9.521934,7.453767,7.045636,7.743690,7.728274,8.081243,6.927978,9.294152,8.888816,8.290944,...,7.065597,6.803698,6.631766,6.981474,7.003319,6.999630,7.005495,6.864895,7.030665,14.394582
01_a_I_f_2.CEL,10.930684,9.455482,9.233291,9.777128,9.612399,9.845444,9.149639,10.580062,11.505571,9.846817,...,9.366604,9.067484,8.945584,9.118070,9.137492,9.067202,9.129742,9.256544,9.171725,15.494106
01_a_M_f_1.CEL,6.852731,5.298974,5.033266,6.040661,5.890083,5.810144,5.098923,6.240855,7.280948,6.124910,...,5.374457,5.165619,5.032617,5.382904,5.509690,5.113946,5.273243,5.321357,5.321636,12.856782
01_c_D_f_1.CEL,7.285181,6.258114,6.119443,6.631768,6.744592,6.589478,6.156638,7.417750,8.663882,8.203275,...,6.332162,6.278864,6.108778,6.341791,6.339638,6.167335,6.170734,6.734936,6.275118,13.683484
01_c_I_f_2.CEL,11.224543,9.800931,9.407753,10.113212,9.871853,10.495533,9.449701,11.084619,11.969619,10.479006,...,9.443910,9.242560,9.272848,9.435175,9.448927,9.395768,9.306998,9.863770,9.404475,15.494106

In [ ]:
genes.head()

               sym chrom
rownames
1000_at      MAPK3    16
1001_at       TIE1     1
1002_f_at  CYP2C19    10
1003_s_at    CXCR5    11
1004_at      CXCR5    11

In [ ]:
samples.head()

                   patient     sex       region       lab chip.version
rownames
01_a_D_f_2.CEL  patient_01  female  A.C. cortex     Davis           v2
01_a_I_f_2.CEL  patient_01  female  A.C. cortex    Irvine           v2
01_a_M_f_1.CEL  patient_01  female  A.C. cortex  Michigan           v1
01_c_D_f_1.CEL  patient_01  female   cerebellum     Davis           v1
01_c_I_f_2.CEL  patient_01  female   cerebellum    Irvine           v2

In [4]:
# normalization
genes_Y_crom = genes[genes.chrom == "Y"].index
genes_bac_index = genes[genes.chrom.isnull()].index
mean_bac_exp = expression[genes_bac_index].mean(axis=1)
print(mean_bac_exp)
expression_norm =  expression - mean_bac_exp.values[:, None]

01_a_D_f_2.CEL    7.585395
01_a_I_f_2.CEL    9.586479
01_a_M_f_1.CEL    5.732075
01_c_D_f_1.CEL    6.696566
01_c_I_f_2.CEL    9.877747
                    ...
10_c_I_f_2.CEL    9.566257
10_c_M_f_1.CEL    5.932850
10_d_D_f_2.CEL    6.902631
10_d_I_f_2.CEL    9.528189
10_d_M_f_2.CEL    6.350724
Length: 84, dtype: float64

In [5]:
# borrowed some code from Vinod
express_samp = pd.concat([expression_norm, samples], axis=1)

express_samp.head()

,1000_at,1001_at,1002_f_at,1003_s_at,1004_at,1005_at,1006_at,1007_s_at,1008_f_at,1009_at,...,AFFX-YEL002c/WBP1_at,AFFX-YEL018w/_at,AFFX-YEL021w/URA3_at,AFFX-YEL024w/RIP1_at,AFFX-hum_alu_at,patient,sex,region,lab,chip.version
01_a_D_f_2.CEL,1.936539,-0.131627,-0.539758,0.158295,0.142880,0.495848,-0.657417,1.708758,1.303421,0.705549,...,-0.585765,-0.579899,-0.720499,-0.554729,6.809187,patient_01,female,A.C. cortex,Davis,v2
01_a_I_f_2.CEL,1.344205,-0.130997,-0.353188,0.190649,0.025919,0.258965,-0.436840,0.993583,1.919092,0.260338,...,-0.519277,-0.456737,-0.329935,-0.414754,5.907627,patient_01,female,A.C. cortex,Irvine,v2
01_a_M_f_1.CEL,1.120656,-0.433101,-0.698809,0.308586,0.158008,0.078069,-0.633152,0.508779,1.548872,0.392835,...,-0.618129,-0.458833,-0.410718,-0.410439,7.124707,patient_01,female,A.C. cortex,Michigan,v1
01_c_D_f_1.CEL,0.588615,-0.438452,-0.577124,-0.064798,0.048026,-0.107089,-0.539928,0.721184,1.967315,1.506709,...,-0.529232,-0.525833,0.038370,-0.421449,6.986917,patient_01,female,cerebellum,Davis,v1
01_c_I_f_2.CEL,1.346796,-0.076816,-0.469994,0.235464,-0.005894,0.617786,-0.428046,1.206872,2.091872,0.601259,...,-0.481979,-0.570750,-0.013977,-0.473272,5.616358,patient_01,female,cerebellum,Irvine,v2

In [6]:
express_samp_UM = express_samp[express_samp.lab == "Michigan"]

p_values = pd.DataFrame()

# for each tissue, permute the 10 outcomes, 
# use the difference-in-means as the test statistic
for tissue in express_samp_UM["region"].unique():
  print(tissue)
  express_samp_UM_new = express_samp_UM[(express_samp_UM.region == tissue)]
  express_samp_UM_new = pd.concat([express_samp_UM_new, pd.DataFrame(columns=['perm'])], axis=1)

  df_male = express_samp_UM_new[express_samp_UM_new.sex == "male"]
  df_female = express_samp_UM_new[express_samp_UM_new.sex == "female"]

  male_mean = df_male.mean()
  female_mean = df_female.mean()

  diff = pd.DataFrame(male_mean - female_mean)
  for comb in combinations(range(10), 5):
    #print(comb)
    express_samp_UM_new.perm = [0] * 10

    express_samp_UM_new.perm.iloc[list(comb)] = 1

    df_male = express_samp_UM_new[express_samp_UM_new.perm == 1]
    df_female = express_samp_UM_new[express_samp_UM_new.perm == 0]

    male_mean = df_male.mean()
    female_mean = df_female.mean()

    diff = pd.concat([diff, male_mean - female_mean], axis=1)
    #print(diff.shape)
  
  # compare columns and get p-values
  diff = diff.abs()
  for j in range(252):
    diff.iloc[:,j+1] = diff.iloc[:,0] <= diff.iloc[:,j+1]
  p_values = pd.concat([p_values, diff.iloc[:,1:].mean(axis=1)], axis=1)

p_values.head()
p_values = p_values.drop(labels=['perm'], axis=0)

A.C. cortex

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:29: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

cerebellum
D.L.P.F. cortex

In [15]:
print(sum(p_values.mean(axis=1) <= 0.05))
print(1/252)
p_values[p_values.mean(axis=1) <= 0.2]
p_values[p_values.min(axis=1) <= 0.008]

5
0.003968253968253968

                   0         0         0
1070_at     0.007937  0.976190  0.746032
1246_at     0.896825  0.936508  0.007937
1255_g_at   0.007937  0.896825  0.349206
1579_at     0.698413  0.007937  0.738095
1654_at     0.007937  0.023810  0.460317
1672_f_at   0.865079  0.007937  0.476190
1688_s_at   0.619048  0.007937  0.928571
31454_f_at  0.825397  0.007937  0.595238
33019_at    0.007937  0.571429  0.936508
33386_at    0.952381  0.253968  0.007937
33480_at    0.547619  0.007937  0.936508
33509_at    0.007937  0.793651  0.611111
34278_at    0.833333  0.007937  0.698413
34477_at    0.015873  0.007937  0.174603
34563_at    0.007937  0.992063  0.555556
34568_at    0.674603  0.007937  0.722222
34881_at    0.603175  0.007937  0.317460
35001_at    0.111111  0.007937  0.531746
35064_at    0.277778  0.007937  0.547619
35436_at    0.619048  0.007937  0.880952
35851_g_at  0.166667  0.007937  0.753968
35887_at    0.436508  0.007937  0.412698
36124_at    0.936508  0.007937  0.888889
36234_at    0.349206  0.007937  0.706349
36351_at    0.007937  0.404762  0.912698
36752_at    0.888889  0.412698  0.007937
37185_at    0.007937  0.055556  0.761905
37583_at    0.007937  0.007937  0.071429
38355_at    0.007937  0.007937  0.007937
38446_at    0.055556  0.007937  0.007937
38494_at    0.142857  0.007937  0.579365
38585_at    0.015873  0.007937  0.063492
38954_at    0.380952  0.007937  0.206349
39143_at    0.007937  0.817460  0.714286
39303_at    0.365079  0.730159  0.007937
39878_at    0.269841  0.007937  0.841270
39983_at    0.730159  0.007937  0.753968
40290_f_at  0.007937  0.468254  0.825397
40420_at    0.007937  0.333333  0.626984
40719_at    0.007937  0.976190  0.865079
41130_at    0.230159  0.007937  0.555556
41214_at    0.007937  0.007937  0.007937
41638_at    0.007937  0.992063  0.515873
41778_at    0.880952  0.007937  0.722222
41846_at    0.698413  0.666667  0.007937
968_i_at    0.436508  0.007937  0.706349
969_s_at    0.007937  0.015873  0.150794

In [16]:
genes.loc[p_values[p_values.min(axis=1) <= 0.008].index].loc[:, ['sym','chrom']]

                     sym  chrom
1070_at            GTF2B      1
1246_at            PTPRS     19
1255_g_at         GUCA1A      6
1579_at              OSM     22
1654_at             BRAF      7
1672_f_at            RB1     13
1688_s_at          MNAT1     14
31454_f_at           NaN    NaN
33019_at           PARK2      6
33386_at            H1F0     22
33480_at             MLN      6
33509_at            GRM1      6
34278_at             NaN      X
34477_at             UTY      Y
34563_at           KIF14      1
34568_at          KRT33B     17
34881_at           MYLPF     16
35001_at          KCTD20      6
35064_at          TRIM31      6
35436_at          GOLGA2      9
35851_g_at         JMJD6     17
35887_at           RLBP1     15
36124_at            MPST     22
36234_at          EIF4A1     17
36351_at         KAZALD1     10
36752_at    LOC100131510      2
37185_at        SERPINB2     18
37583_at           KDM5D      Y
38355_at           DDX3Y      Y
38446_at            XIST      X
38494_at           ACRV1     11
38585_at             NaN  11hbg
38954_at           VIPR2      7
39143_at          NFATC1     18
39303_at            BTRC     10
39878_at           PCDH9     13
39983_at            GLMN      1
40290_f_at       ST3GAL1      8
40420_at           STK10      5
40719_at        TRAF3IP3      1
41130_at          RANBP3     19
41214_at          RPS4Y1      Y
41638_at           PPWD1      5
41778_at          SLC1A5     19
41846_at             CRX     19
968_i_at           USP9X      X
969_s_at             NaN      X

In [10]:
genes.loc[p_values[p_values.mean(axis=1) <= 0.1].index].loc[:, ['sym','chrom']]

               sym  chrom
32964_at      EMR1     19
34477_at       UTY      Y
35095_r_at  LILRA3     19
37583_at     KDM5D      Y
38355_at     DDX3Y      Y
38446_at      XIST      X
38585_at       NaN  11hbg
41214_at    RPS4Y1      Y
969_s_at       NaN      X